<% provide(:title, 'Edit Contract') %>
<h1>Edit Loan Contract</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('/contracts/edit', :method => "post") do %>
      <%= hidden_field_tag :id, @contract.id %>

      <%= label_tag(:name, "Contract name:") %>
      <%= text_field_tag(:name, @contract.name) %>

      <%= label_tag(:language, "Preferred language for agreement") %></br>
      <%= radio_button_tag(:language, "english") %><%= label_tag(:language_english, "English") %>
      <%= radio_button_tag(:language, "chinese") %><%= label_tag(:language_chinese, "Chinese") %>
      <%= radio_button_tag(:language, "tamil") %><%= label_tag(:language_tamil, "Tamil") %>
      </br></br>
      <%= label_tag(:lender_address, "Lender address") %>
      <%= text_field_tag(:lender_address, @contract.lender_address) %>

      <%= label_tag(:borrower_address, "Borrower address") %>
      <%= text_field_tag(:borrower_address, @contract.borrower_address) %>

      <%= label_tag(:borrower_name, "Borrower name:") %>
      <%= text_field_tag(:borrower_name, @contract.borrower_name) %>

      <%= label_tag(:lender_name, "Lender name:") %>
      <%= text_field_tag(:lender_name, @contract.lender_name) %>

      <%= label_tag(:loan_amount, "Loan amount (in SGD):") %>
      <%= text_field_tag(:loan_amount, @contract.loan_amount) %>

      <%= label_tag(:loan_duration, "Loan duration (in months):") %>
      <%= text_field_tag(:loan_duration, @contract.loan_duration) %>

      <%= label_tag(:interest_rate, "Annual loan interest rate (in percentage):") %>
      <%= text_field_tag(:interest_rate, @contract.interest_rate) %>

      <%= submit_tag("Edit") %>
    <% end %>
  </div>
</div>
