<% provide(:title, 'New Contract') %>
<h1>Create Loan Contract</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag('/contracts/generate', :method => "post") do %>
      <%= label_tag(:name, "Contract name:") %>
      <%= text_field_tag(:name) %>

      <%= label_tag(:language, "Preferred language for agreement") %>
      <%= radio_button_tag(:language, "english") %>
      <%= label_tag(:language_english, "English") %>

      <%= label_tag(:lender_address, "Lender address") %>
      <%= text_field_tag(:lender_address) %>

      <%= label_tag(:lender_address, "Borrower address") %>
      <%= text_field_tag(:lender_address) %>

      <%= label_tag(:borrower_name, "Borrower name:") %>
      <%= text_field_tag(:borrower_name) %>

      <%= label_tag(:lender_name, "Lender name:") %>
      <%= text_field_tag(:lender_name) %>

      <%= label_tag(:loan_amount, "Loan amount:") %>
      <%= text_field_tag(:loan_amount) %>

      <%= submit_tag("Create") %>
    <% end %>
  </div>
</div>

