<% provide(:title, @contract.name) %>

<div class="input-group">

  <%= link_to edit_contract_path(@contract.id) do %>
    <button type="button" class="btn btn-primary">Edit</button>
  <% end %>

  <%= link_to '/contracts/' + @contract.id.to_s + '/printable' do %>
    <button type="button" class="btn btn-success">Generate</button>
  <% end %>

  <button type="button" class="btn btn-success">Add Clause</button>
  <%= link_to '/contracts/' + @contract.id.to_s + '/generatepdf' do %>
    <button type="button" class="btn btn-success">Generate</button>
  <% end %>
</div>
<center><h1><%= @contract.name %></h1></center>
<h2>Contract Details</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Contract type:</th>
      <td><%= @contract.contract_type %></td>
    </tr>
    <tr>
      <th scope="row">Lender Name:</th>
      <td><%= @contract.lender_name %></td>
    </tr>
    <tr>
      <th scope="row">Borrower Name:</th>
      <td><%= @contract.borrower_name %></td>
    </tr>
    <tr>
      <th scope="row">Lender Address:</th>
      <td><%= @contract.lender_address %></td>
    </tr>
    <tr>
      <th scope="row">Borrower Address:</th>
      <td><%= @contract.borrower_address %></td>
    </tr>
    <tr>
      <th scope="row">Loan Amount:</th>
      <td><%= @contract.loan_amount %></td>
    </tr>
    <tr>
      <th scope="row">Loan Duration:</th>
      <td><%= @contract.loan_duration %> months</td>
    </tr>
    <tr>
      <th scope="row">Interest Rate:  </th>
      <td><%= @contract.interest_rate %></td>
    </tr>
  </tbody>
</table>

<h2>Additional clauses</h2>
<% counter = 0 %>
<table id='employee-table' class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Clause</th>
      <th>Explanation</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @clauses.each do |clause| %>
      <% counter += 1 %>
      <tr>
        <td><%= counter %></td>
        <td><%= clause.text %></td>
        <td><%= clause.explanation_text %></td>
        <td>
          <%= form_tag('/contracts/deleteclause', :method => "post") do %>
          <%= hidden_field_tag :id, @contract.id %>
          <%= hidden_field_tag :clauseid, clause.id %>
          <%= hidden_field_tag :contractclauseid, counter %>
          <%= submit_tag "Delete", class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>

    <% end %>
    <% counter += 1 %>
    <%= form_tag('/contracts/newclause', :method => "post") do %>
    <%= hidden_field_tag :id, @contract.id %>
    <%= hidden_field_tag :newclauseid, counter %>
    <tr>
      <td> <%= counter %> </td>
      <td> <%= text_field_tag(:newtext, "", class: 'form-control') %> </td>
      <td> <%= text_field_tag(:newexplanation, "", class: 'form-control') %> </td>
      <td> <%= submit_tag "Add", class: 'btn btn-success' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
