<% provide(:title, @contract.name) %>

<div class="input-group">

    <%= link_to edit_contract_path(@contract.id) do %>
        <button type="button" class="btn btn-primary">Edit</button>
    <% end %>

    <%= link_to edit_contract_path(@contract.id) do %>
        <button type="button" class="btn btn-success">Print</button>
    <% end %>

    <button type="button" class="btn btn-success">Add Clause</button>
</div>
<center><h1><%= @contract.name %></h1></center>



<div>Lender Name: <%= @contract.lender_name %> </div>
<div>Borrower Name: <%= @contract.borrower_name %> </div>
<div>Lender Address: <%= @contract.lender_address %> </div>
<div>Loan Amount: <%= @contract.loan_amount %> </div>


<% @clauses.each do |clause| %>
    <p><%= clause.text %></p>
    <button>delete <%= clause.id %></button>
<% end %>
